/*============= GOOGLE FONTS =============*/
@import url("https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/*============= VARIABLE CSS =============*/
:root {
  /*====== Colors ======*/
  --hue-color: 110;

  /* HSL Color Made */
  --skin-color: hsl(139, 93%, 24%);
  --title-color: hsl(var(--hue-color), 8%, 95%);
  --text-color: hsl(var(--hue-color), 8%, 85%);
  --body-color: hsl(var(--hue-color), 19%, 5%);
  --box-color: hsl(var(--hue-color), 14%, 10%);
  --scrool-bar-color: hsl(var(--hue-color), 12%, 38%);
  --scrool-thumb-color: hsl(var(--hue-color), 12%, 26%);

  /*====== Font and Typography ======*/
  --body-font: "Tinos", serif;

  /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ...*/
  --biggest-font-size: 3rem;
  --h1-font-size: 2.5rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 0.81rem;

  /*====== Font Weight ======*/
  --font-medium: 500;
  --font-bold: 600;

  /*====== Margenes Bottom ======*/
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /*====== Z-Index ======*/
  --z-fixed: 10;
  --z-modal: 100;

  /* Responsive Typography */
  @media screen and (max-width: 1024px) {
    --biggest-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;
  }
}

/*============= BASE =============*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

button,
input {
  border: none;
  outline: none;
}

/*============= LAYOUT =============*/
.container {
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
}

.grid {
  display: grid;
}

/*============= REUSABLE CSS CLASSES =============*/
.home.section {
  padding-top: 0;
}

.section {
  padding: 2.5rem 0 2rem;
}

.section_title {
  text-align: center;
  font-size: var(--h1-font-size);
  margin-bottom: var(--mb-3);
}

.section_title::before {
  content: attr(data-heading);
  display: block;
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  color: var(--skin-color);
}

/*============= Navigation BAR =============*/

.nav {
  background-color: #000;
  display: flex;
  justify-content: space-between;
}

.nav_logo {
  height: 100px;
  background-color: #000;
  padding-left: 2rem;
}

.nav_menu {
  transform-origin: top left;
  padding-left: 2rem;
}

.menu {
  display: flex;
}

.nav_list {
  display: flex;
  margin: -2px auto 0 auto;
}

.nav_link {
  line-height: 100px;
  padding: 0 2rem;
  color: var(--title-color);
  font-weight: var(--font-medium);
  position: relative;
  transition: 0.4s;
}

.nav_toggle i {
  font-size: 1.4rem;
  pointer-events: none; /* ensures whole box is clickable */
}

.nav_toggle {
  position: fixed;
  top: 1.5rem;
  right: 1.5rem;
  width: 45px;
  height: 45px;
  background-color: var(--skin-color);
  color: var(--title-color);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 999; /* stays on top */
  transition: all 0.3s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.nav_toggle:hover {
  background-color: hsl(139, 93%, 30%);
  transform: scale(1.1);
}

.nav_close {
  font-size: 1.5rem;
  position: absolute;
  top: 1rem;
  right: 1.25rem;
  cursor: pointer;
  display: none;
}

/* Active Link */
.nav_link.active-link,
.nav_link:hover {
  color: var(--skin-color);
}

.nav_link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 6px;
  background-color: var(--skin-color);
  border-radius: 50%;
  bottom: -0.5rem; /* move underline below text */
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.3s ease;
  opacity: 0;
}

/* When active or hovered */
.nav_link.active-link::after,
.nav_link:hover::after {
  width: 60px;
  opacity: 1;
}

/* Hide nav toggle on horizontal / desktop layouts */
.nav_toggle {
  display: none;
}

.collapsible {
  display: flex;
  justify-content: center;
}
/*=========== Navigation Bar BREAKPOINTS =========*/
@media screen and (max-width: 950px) {
  .home_social {
    padding-right: 6rem !important;
  }

  .nav_toggle {
    display: flex;
  }

  .nav_menu {
    position: fixed;
    width: 100vh;
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    padding-left: 0;
    left: 25%;
  }

  .nav_list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
  }

  .nav_item {
    padding-bottom: 2rem;
  }

  .nav_link {
    padding: 1rem 0rem;
    line-height: 1.5;
  }

  .nav_link::after {
    bottom: 0.5rem; /* move underline below text */
  }

  .nal_link.active-link::after,
  .nav_link:hover::after {
    bottom: 0;
  }

  .nav_close {
    display: block;
  }

  .nav_toggle {
    display: flex;
  }

  .collapsible--expanded .collapsible__content {
    max-height: 100vh;
    opacity: 1;
  }

  .collapsible__content {
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s;
    opacity: 0;
  }
}

/*============= Main =============*/

#linkedin,
#github,
#cv {
  fill: var(--skin-color);
  width: 48px;
  height: 48px;
}

.home_social {
  display: flex;
  align-items: center;
  column-gap: 2rem;
  padding-right: 2rem;
}

.home_social-link,
.footer_social-link {
  font-size: 1.08rem;
  color: var(--text-color);
  transition: 0.4s;
  margin-right: 10px;
}

.home_social-link:hover,
.footer_social-link:hover {
  transform: translateY(0.55rem);
}
